.Modal{
    position: fixed;
    background-color: white;
    z-index: 500;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 1rem;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media(min-width: 600px){
    .Modal{
        left: calc(50% - 250px);
        width: 500px;
    }
}