.checkout-btn {
	background-color: green;
	color: white;
	border: none;
	height: 3rem;
	margin: 1rem auto;
	border-radius: 7px;
	text-align: center;
	display: flex;
	align-items: center;
	font-size: 1rem;
	transition: all 0.3s ease-in-out;
}

.checkout-btn:hover {
	color: black;
	transform: scale(1.1);
	background-color: rgb(161, 240, 145);
}

.input-bar {
	width: 90%;
	border: none;
	border-bottom: 1px solid rgb(102, 101, 101);
	padding: 0.2rem;
	margin: 0.3rem 0;
}

.total-price {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 7.5rem;
	padding: 0.4rem;
	height: 5rem;
	color: green;
	background-color: lightgreen;
	border: 2px solid green;
	text-align: center;
	margin: 0.3rem auto;
	border-radius: 5px;
}
