.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.3rem 0;
	background-color: black;
	color: white;
	z-index: 1;
	width: 100%;
	margin-bottom: 1rem;
}

.addCartBtn {
	margin-right: 4rem;
}

.navbar ul {
	display: flex;
}

.navbar a {
	color: #fff;
	padding: 0.45rem;
	margin: 0 0.25rem;
}
