.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.3rem 0;
	background-color: black;
	color: white;
	z-index: 1;
	width: 100%;
}

.navbar a {
	padding: 0.45rem;
	margin: 0 0.25rem;
}

.nav-link {
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
}
